<div ng-controller="songListController">
    <div class="navigation">
        <div class="float-right">
             <div class="navigationButton pointer float-left" ng-click="goToWatIsDezeWebsite()"><span class="glyphicon glyphicon-question-sign"></span> Wat is
                <br> deze website </div>
            <div class="navigationButton pointer" ng-click="goToSongList()"><span class="glyphicon glyphicon-music"></span> Was het nu
                <br>hitlijst </div>
            <div ng-show="userMail" class="navigationButton"> {{userFname}} {{userLname}}
                <a ng-click="logOut()">
                    <hr> <span class="glyphicon glyphicon-log-out"></span> Afmelden </a>
            </div>
            <div ng-hide="userMail" class="navigationButton pointer" ng-click="logIn()"> Aanmelden </div>
        </div>
    </div>
    <div class="main" style="margin-top:70px;">
        <div>
            <div id="layout" class="container-fluid list">
                <h1>Een lijst van alle gebruikers</h1>
                <hr>
                <div ng-repeat="user in allUsers">
                    <h4>{{$index+1}}. {{user.fname}} {{user.lname}} 
                        <br>
                        {{user.mail}} 
                    </h4> </div>
            </div>
        </div>
    </div>
</div>