<div ng-controller="songListController">
    <div class="navigation">
        <div class="float-right">
            <div class="navigationButton pointer float-left" ng-click="goToWatIsDezeWebsite()"><span class="glyphicon glyphicon-question-sign"></span> Wat is
                <br> deze website </div>
            <div class="navigationButton pointer hidden-xs" ng-if="admin" ng-click="goToAllUsers()"><span class="glyphicon glyphicon-user"></span> Bekijk alle
                <br>gebruikers</div>
            <div ng-show="userMail" class="navigationButton"> {{userFname}} {{userLname}}
                <a ng-click="logOut()">
                    <hr> <span class="glyphicon glyphicon-log-out"></span> Afmelden </a>
            </div>
            <div ng-hide="userMail" class="navigationButton pointer" ng-click="logIn()"> Aanmelden </div>
        </div>
    </div>
    <div style="width:100%; position:fixed; top:70px; z-index: 10;">
        <div class="main">
            <div class="container-fluid searchBar">
                <div class="row" style="margin-top:15px;">
                    <input type="text" ng-model="search" class="form-control" placeholder="Zoek hier een liedje om toe te voegen" id="search">
                    <input type="button" class="searchButton form-control" ng-click="searchYouTube()" value="Zoek op YouTube"> </div>
                <h4 ng-if="showYoutubeResults || search"><a ng-click="resetSearch()" style="margin-left:10px"><u>Ga terug naar alle liedjes</u></a></h4>
                <div>
                    <h2>{{showSongsOfUserMessage}}</h2>
                    <h4 ng-if="showSongsOfUserMessage.length > 0"><a ng-click="resetSearch(); getSongs()" style="margin-left:10px"><u>Ga terug naar alle liedjes</u></a></h4>
                    <div ng-hide="search" style="margin-left:10px;">
                        <h4 ng-if="songList.length == 0">Geen liedjes gevonden</h4>
                        <h4 ng-if="songList.length == 1"><strong style="font-family:menufont !important">{{songList.length}}</strong> liedje gevonden</h4>
                        <h4 ng-if="songList.length > 1"><strong style="font-family:menufont !important">{{songList.length}}</strong> liedjes gevonden</h4> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="songListDiv" class="main list">
        <!-- YOUTUBE SEARCH-->
        <div ng-if="showYoutubeResults">
            <div ng-repeat="song in youtubeSearchList">
                <div class="row" style="margin-bottom:10px; margin-left:0px;">
                    <div>
                        <div id="youtubeSearchSection{{$index}}"> <img ng-click="showSearchYouTubeVideo($index)" class="youtubeThumbnail" src="{{song.thumbnail}}" width="264px" height="144px"> </div>
                        <div style="margin-left: 20px !important; float:left;">
                            <h3>{{song.title}}</h3>
                            <button class="pointer whiteButton" ng-click="addYoutubeSong(song)" style="margin-bottom:30px;"><span class="glyphicon glyphicon-music"></span> Voeg toe aan hitlijst </button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" class="searchMoreButton form-control" ng-click="searchYouTube(true)" value="Meer liedjes laden">
            <hr> </div>
        <!-- SONGLIST -->
        <div ng-hide="songList" class="center"> <img src="processing.gif">
            <h1>Liedjes aan 't laden</h1> </div>
        <div ng-repeat="song in songList | filter:search:strict">
            <div class="row" style="margin-bottom:10px; margin-left:20px;">
                <div id="youtubeSection{{song.ranking}}"> <img ng-click="showYouTubeVideo(song.ranking)" class="youtubeThumbnail hidden-xs hidden-sm" style="margin-top:20px;" src="{{song.thumbnail}}" width="264px" height="144px"> </div>
                <div style="margin-left: 20px !important;  float:left;">
                    <h3><strong style="font-family:menufont !important">{{song.ranking+1}}. </strong>{{song.title}}</h3>
                    <h3 style="margin-top:-10px; margin-left:30px;"><strong class="pointer" ng-click="searchArtist(song.artist)">{{song.artist}}</strong></h3>
                    <div class="likeSection" style="margin-top:-7px; margin-left:30px">
                        <h5>                                                      
                            <div ng-if="song.likeList.length > 2">                                 
                                <span style="margin-right:5px; font-size:20px;" class="glyphicon glyphicon-thumbs-up" ></span> <span class="upvotes">{{song.upvotes}} - </span>
                                <a ng-if="userMail" class="hoverOverLike">{{song.likeList[0]}}, {{song.likeList[1]}} en nog {{song.upvotes-2}} vinden dit leuk</a>
                                <div ng-if="userMail" class="likeList">
                                    <div ng-repeat="likingUser in song.likeList">
                                        <span ng-if="$index > 1"> 
                                            {{likingUser}}
                                        </span>                                        
                                    </div>
                                </div>
                            </div>
                            <div ng-if="song.likeList.length == 2">
                                <span style="margin-right:5px; font-size:20px;" class="glyphicon glyphicon-thumbs-up" ></span> <span class="upvotes">{{song.upvotes}} - </span>
                                <span ng-if="userMail">{{song.likeList[0]}} en {{song.likeList[1]}} vinden dit leuk</span>
                            </div>
                            <div ng-if="song.likeList.length == 1"> 
                                <span style="margin-right:5px; font-size:20px;" class="glyphicon glyphicon-thumbs-up" ></span> <span class="upvotes">{{song.upvotes}} - </span>
                                <span ng-if="userMail">{{song.likeList[0]}} vindt dit leuk</span>
                            </div>
                            <div ng-if="song.likeList.length == 0"> 
                                <span style="margin-right:5px; font-size:20px;" class="glyphicon glyphicon-thumbs-up" ></span> <span class="upvotes">{{song.upvotes}} - </span>
                                <span ng-if="userMail">Niemand vindt dit leuk</span>
                            </div>
                        </h5>
                        <h4 style="margin-top=-18px !important"><a ng-click="upvoteSong(song)" ng-hide="song.upvotedBy.indexOf(userMail)!=-1" ><strong> Like dit liedje</strong></a> </h4> </div>
                    <div style="margin-left:30px;">
                        <h5 ng-if="(song.userMail===userMail  || superAdmin) && !song.yturl"> <a ng-click="addYturl(song)" class="red"> <img src="ytIcon.png" height="20px;" style="margin-top: -5px;">
                                <span> Voeg YouTube link toe</span> </a></h5> </div>
                    <div class="hidden-lg hidden-md" style="margin-left:30px;">
                        <h4 ng-if="song.yturl"> <a href="{{song.yturl}}" target="_blank"> 
                                <img src="ytIcon.png" ng-show="song.yturl" height="20px;" style="margin-top: -5px;" title="Beluister '{{song.title}}' op YouTube">
                                <span> Beluister op YouTube</span> </a></h4> </div>
                    <div ng-if="song.userFname" style="margin-top: -5px; margin-left:30px">
                        <h6 ng-if="song.userMail===userMail">Toegevoegd door <a ng-click="showSongsOfUser(userMail)">jou</a></h6> </div>
                    <div ng-if="song.userFname" style="margin-top: -5px; margin-left:30px">
                        <h6 ng-if="song.userMail!=userMail">Toegevoegd door <a ng-click="showSongsOfUser(song.userMail)"> {{song.userFname}} {{song.userLname}}</a></h6> </div>
                    <div ng-if="song.userFname" style="margin-top: -5px; margin-left:30px">
                        <h6 ng-if="song.userMail===userMail || superAdmin" ng-click="editTitleAndArtist(song)"><a><span class="glyphicon glyphicon-pencil"></span> Liedje bewerken</a></h6></div>
                </div>
            </div>
        </div>
    </div> <a class="scrollToTop" ng-click="scrollToTop()">Terug naar boven</a> </div>
<footer>Website door Arne Thiels</footer>
<div class="form-content" style="display:none;">
    <form class="form" role="form">
        <div class="form-group">
            <label for="songTitle">TITEL</label>
            <input class="form-control" id="songTitle" name="songTitle"> </div>
        <h4 class="red" id="em_title"></h4>
        <div class="form-group">
            <label for="songArtist">ARTIEST</label>
            <input class="form-control" id="songArtist" name="songArtist"> </div>
        <h4 class="red" id="em_artist"></h4>
        <div class="form-group">
            <label for="songYturl">YOUTUBE LINK - niet verplicht</label>
            <input class="form-control" id="songYturl" name="songYturl"> </div>
        <h4 class="red" id="em_yturl"></h4> </form>
</div>
<div class="inlog-form" style="display:none;">
    <form class="form" role="form">
        <div class="form-group">
            <label for="logInMail">E-MAIL ADRES</label>
            <input class="form-control" id="logInMail" name="logInMail"> </div>
    </form>
</div>
<div class="createAccount-form" style="display:none;">
    <form class="form" role="form">
        <div class="form-group">
            <label for="createAccountFirstName">VOORNAAM</label>
            <input class="form-control" id="createAccountFirstName" name="createAccountFirstName"> </div>
        <div class="form-group">
            <label for="createAccountLastName">ACHTERNAAM</label>
            <input class="form-control" id="createAccountLastName" name="createAccountLastName"> </div>
    </form>
</div>