<div ng-controller="songListController">
    <div class="navigation">
        <div class="float-right">
            <div class="navigationButton pointer float-left" ng-click="goToWatIsDezeWebsite()"><span class="glyphicon glyphicon-question-sign"></span> Wat is
                <br> deze website </div>
            <div class="navigationButton pointer hidden-xs" ng-click="addSong()"><span class="glyphicon glyphicon-music"></span> Liedje
                <br> toevoegen </div>
             <div class="navigationButton pointer hidden-xs" ng-if="admin"  ng-click="goToAllUsers()"><span class="glyphicon glyphicon-user"></span> Bekijk alle<br>gebruikers</div>
            <div ng-show="userMail" class="navigationButton"> {{userFname}} {{userLname}}
                <a ng-click="logOut()">
                    <hr> <span class="glyphicon glyphicon-log-out"></span> Afmelden </a>
            </div>
            <div ng-hide="userMail" class="navigationButton pointer" ng-click="logIn()"> Aanmelden </div>
        </div>
    </div>
    <div id="main">
        <div>
            <div id="layout" class="container-fluid list">
                
                <input type="text" ng-model="search" class="form-control has-feedback" placeholder="Zoek een titel of een artiest" id="search">
                <div class="pointer" ng-click="addSong()"  id="addSongLink"><span class="glyphicon glyphicon-music"></span> Liedje toevoegen </div>
                
                <div ng-repeat="song in songList | filter:search:strict | orderBy:'-upvotes'" class="song">
                    <h3>{{$index+1}}. <span class="hidden-xs"><strong>{{song.artist}}</strong> - </span>{{song.title}}
                    <div style="float:right">                    
                        
                        <h5 ng-if="song.userMail===userMail && !song.yturl"> <a ng-click="addYturl(song)" class="red"> <img src="ytIcon.png" height="20px;" style="margin-top: -5px;"><span class="hidden-xs hidden-sm hidden-md"> Voeg YouTube link toe</span> </a></h5> 
                        
                        <h4  ng-if="song.yturl"> <a href="{{song.yturl}}" target="_blank"> <img src="ytIcon.png" ng-show="song.yturl" height="20px;" style="margin-top: -5px;" title="Beluister '{{song.title}}' op YouTube"><span class="hidden-xs hidden-sm hidden-md"> Beluister op YouTube</span> </a></h4> 
                       
                        
                    </div>
                    </h3>
                    <h3 class="hidden-sm hidden-md hidden-lg" style="margin-top:-10px; margin-left:30px;"><strong>{{song.artist}}</strong></h3>
                    <div class="likeSection" style="margin-top:-7px; margin-left:30px">
                        <h4>                         
                            <span style="margin-right:5px;" class="glyphicon glyphicon-thumbs-up upvoteButton"></span>{{song.upvotes}}
                            <a ng-click="upvoteSong(song)" ng-hide="song.upvotedBy.indexOf(userMail)!=-1" > Like dit liedje</a> 
                        </h4> </div>
                    <div ng-if="song.userFname" style="margin-top: -5px; margin-left:30px">
                        <h6 class="hidden-xs" ng-if="song.userMail===userMail">Toegevoegd door jou</h6> </div>
                    <h6 class="hidden-xs" ng-if="song.userMail!=userMail">Toegevoegd door {{song.userFname}} {{song.userLname}}</h6> </div>
                <hr> </div>
        </div>
    </div>
</div>

<div class="form-content" style="display:none;">
    <form class="form" role="form">
        <div class="form-group">
            <label for="songTitle">TITEL</label>
            <input class="form-control" id="songTitle" name="songTitle"> </div>
        <h4 class="red" id="em_title"></h4>
        <div class="form-group">
            <label for="songArtist">ARTIEST</label>
            <input class="form-control" id="songArtist" name="songArtist"> </div>
        <h4 class="red" id="em_artist"></h4>
        <div class="form-group">
            <label for="songYturl">YOUTUBE LINK - niet verplicht</label>
            <input class="form-control" id="songYturl" name="songYturl"> </div>
    </form>
</div>
<div class="inlog-form" style="display:none;">
    <form class="form" role="form">
        <div class="form-group">
            <label for="logInMail">E-MAIL ADRES</label>
            <input class="form-control" id="logInMail" name="logInMail"> </div>
    </form>
</div>
<div class="createAccount-form" style="display:none;">
    <form class="form" role="form">
        <div class="form-group">
            <label for="createAccountFirstName">VOORNAAM</label>
            <input class="form-control" id="createAccountFirstName" name="createAccountFirstName"> </div>
        <div class="form-group">
            <label for="createAccountLastName">ACHTERNAAM</label>
            <input class="form-control" id="createAccountLastName" name="createAccountLastName"> </div>
    </form>
</div>
<div class="info" style="display:none;">
    <h2 style="margin-top: 10px !important;">Was het nu 39, 40 of 41?</h2>
    <h3><strong>Een knaller van een fuif </strong>gaat het worden!!
            </h3>
    <p>Waarom wij daar zo zeker van zijn? Dat komt doordat <strong>jullie mee de muziek bepalen!</strong> </p>
    <h4><strong>Liedjes toevoegen</strong></h4>
    <p>Jullie kunnen zelf liedjes toevoegen door bovenaan in het menu op "LIEDJE TOEVOEGEN" te klikken. Geef dan de titel, de artiest en eventueel een YouTube link in. Het liedje zal dan mee in de lijst komen te staan. </p>
    <h4><strong>Liedjes liken</strong></h4>
    <p> Jullie kunnen ook bepaalde nummers 'liken' zodat deze hoger op de lijst komen te staan. Dit doen jullie door naast het <span class="glyphicon glyphicon-thumbs-up"></span> icoontje op <strong>'like dit liedje'</strong> te klikken (elk liedje kan per persoon maar éénmaal geliket worden).
        <br> Op deze manier krijgen we een mooie hitlijst met allemaal toppers die op onze fuif gedraaid zullen worden. </p>
    <p>Hopelijk hebben we binnen de kortste keren een <strong>TOP LIJST</strong>!</p>
</div>