@font-face {
    font-family: japofont;
    src: url(font.otf);
}

@font-face {
    font-family: menufont;
    src: url(menu.otf)
}

body {
    font-family: japofont;
    background-image: url(background.jpg);
    background-size: cover
}

.margin {
    margin: 15px 0px 15px 0px
}

@media(max-width: 1000px) {
    .dashBorderLeft {
        border-bottom: 2px dashed #046ca3;
        padding-bottom: 20px;
    }
}

@media(min-width: 1000px) {
    .dashBorderLeft {
        border-right: 2px dashed #046ca3;
        min-height: 500px;
        padding-right: 80px;
    }
    .dashBorderRight {
        padding-left: 80px;
    }
}

#layout {
    margin-top: 8px;
}

img {
    cursor: pointer;
}

a {
    cursor: pointer;
}

tr {
    cursor: pointer;
}

.margin {
    margin: 15px 0px 15px 0px
}

button {
    max-width: 200px;
}

.zoek {
    margin-right: 20px;
}

.bold > th {
    font-weight: bold !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    font-weight: normal;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: #93d9ff;
}

#slider {
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    #top {
        min-height: 3em;
        border-bottom: 2px dashed #046ca3;
    }
}

@media(min-width: 768px) {
    #top {
        min-height: 6em;
        border-bottom: 2px dashed #046ca3;
    }
}

@media(min-width: 1000px) {
    #main {
        max-width: 50%;
        margin: 0 auto;
    }
}

@media(min-width: 768px) {
    #main {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    #main {
        width: 100%;
        margin: 0 auto;
    }
}

#example1 {
    width: 500px;
    height: 700px;
}

.float-right {
    float: right;
}

#drop {
    font-size: 5em;
    margin-bottom: 10px;
}

#video {
    position: absolute;
    visibility: hidden;
}

#canvas {
    margin-bottom: 8px;
}

#files {
    text-align: center;
    padding-bottom: 20px;
}

#specsFile {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

#title {
    padding-bottom: 3%;
    margin-bottom: 7%;
    border-bottom: 2px dashed #046ca3;
}

#uploadSpecsInput {
    max-width: 42%;
    margin: 0 auto;
}

@media(max-width: 768px) {
    #uploadSpecsInput {
        max-width: 90%;
        margin: 0 auto;
    }
}

#capture {
    text-align: center;
}

#selectFile {
    margin-left: 10%;
}

.collectionItem {
    display: block;
    text-align: center;
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.collectionItem > img {
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    box-shadow: 5px 4px 3px #888888;
    -webkit-transition: max-width 0.2s;
    /* Safari */
    transition: max-width 0.2s;
}

.collectionItem:hover > img {
    -webkit-transition: max-width 0.2s;
    /* Safari */
    transition: max-width 0.2s;
    max-width: 80%;
}

.gridItemBG {
    width: 100%;
    height: 100%;
}

.gridItem > a {
    position: relative;
    top: -75px;
    left: 17px;
    visibility: hidden;
}

.gridItem:hover > a {
    visibility: visible;
    margin-right: 10px;
}

.gridItem:hover > a > img {
    width: 20%;
    height: auto;
}

th:nth-child(7) {
    min-width: 110px;
}

@media(max-width: 600px) {
    th:nth-child(2) {
        display: none;
    }
    th:nth-child(4) {
        display: none;
    }
    th:nth-child(6) {
        display: none;
    }
    th:nth-child(3) {
        max-width: 150px;
    }
}

@media(max-width: 500px) {
    th:nth-child(2) {
        display: none;
    }
    th:nth-child(4) {
        display: none;
    }
    th:nth-child(5) {
        display: none;
    }
    th:nth-child(6) {
        display: none;
    }
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.red {
    color: orangered
}

.red:hover {
    color: darkred;
}

.white {
    color: white;
}

.white:hover {
    color: gainsboro;
}

#search {
    align-content: center;
    border-radius: 15px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 768px) {
    #search {
      width: 300px;
    }
}

#addSongLink {
    font-size: 20px;
     align-content: center;
    border-radius: 15px;
    padding-left: 15px;
    width: 230px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.percentage {
    position: absolute;
    left: 80px;
    margin-top: 80px;
    color: dodgerblue;
    font-size: 30px;
    font-weight: bolder;
}

@media(max-width: 768px) {
    .leftDiv {
        float: left;
        width: 100px;
    }
    .rightDiv {
        float: right;
        width: calc(100% - 100px);
    }
}

@media(min-width: 768px) {
    .leftDiv {
        float: left;
        width: 170px;
    }
    .rightDiv {
        float: right;
        width: calc(100% - 170px);
    }
}

.dropdown-menu > li > a > .glyphicon:before {
    margin-right: 10px;
}

.duplicatesPopup {
    z-index: 1000;
    position: absolute;
    top: 0px;
    right: 0px;
    border: solid;
    border-bottom-left-radius: 25px;
    border-width: 1px;
    width: 280px;
    height: 120px;
    background-image: -webkit-linear-gradient(top, firebrick 0, darkred 100%);
    background-image: -o-linear-gradient(top, firebrick 0, darkred 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(firebrick), to(darkred));
    background-image: linear-gradient(to bottom, firebrick 0, darkred 100%);
    //margin: 10px;
    padding: 10px;
    box-shadow: 5px 4px 3px #888888;
    cursor: pointer;
}

.duplicatesPopup > p {
    color: aliceblue
}

.show-animation {
    transition: all linear 0.5s;
}

.show-animation.ng-hide {
    opacity: 0.5;
    top: -140px;
}

.show-animation.ng-show {
    opacity: 1;
    top: 0px;
}

hr {
    display: block;
    margin-top: 0.5em !important;
    margin-bottom: 0.2em !important;
    border-color: cadetblue !important;
}

.noLink:link {
    text-decoration: none;
    color: black;
}

.noLink:visited {
    text-decoration: none;
    color: black;
}

.noLink:hover {
    text-decoration: none;
    color: black;
}

.noLink:active {
    text-decoration: none;
    color: black;
}

.shadow-box {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
}

.selectCheckBox {
    position: relative;
    top: -27px;
    left: 35px;
    width: 25px;
    height: 25px;
}

.selectCheckBoxList {
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 10px;
    border: 2px solid #555;
}

.selectedFilesDiv {
    text-align: center;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
}

@media(max-width: 768px) {
    .selectedFilesDiv {
        text-align: center;
        width: 300px;
        border-radius: 15px;
        box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    }
}

.needsAttention {
    font-size: 22px;
    background: -webkit-linear-gradient(top, firebrick 0, darkred 100%);
    background: -o-linear-gradient(top, firebrick 0, darkred 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(firebrick), to(darkred));
    background: linear-gradient(to bottom, firebrick 0, darkred 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.sidePanel {
    background-color: rgba(255, 255, 255, 0.4)
}

.specialBorder {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
}

.groupItem {
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.groupItem:hover {
    background-color: lightgray;
}

.activeGroup {
    background-color: #265a88 !important;
    color: aliceblue;
}

.fontShowIcons {
    font-size: 20px;
}

.upvotes {
    float: right;
}

@media(min-width: 1000px) {
    .likeSection {
        font-size: 200% !important;
    }
}

.navigation {
    min-height: 70px;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.5);
}

.navigationButton {
    text-align: center;
    text-shadow: 2px 1px #000;
    height: 70px;
    background-color: rgba(95, 158, 160, 0.5);
    border-left: 1px white solid;
    border-right: 1px white solid;
    color: white !important;
    font-family: menufont;
    font-size: 15px;
    padding: 10px;
    float: left;
}

.navigationButton:hover {
    background-color: darkcyan
}

.pointer:hover {
    cursor: pointer;
}

.navigationButton > a,
.navigationButton > a:hover,
.navigationButton > a:visited,
.navigationButton > a:active {
    color: white;
}

p {
    font-size: 17px;
}

@media(max-width: 500px) {
    .artistTitle {
        max-width: 300px;
    }
}

.intro {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.list {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 0px !important;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(200, 200, 200, 0.4);
}