<div ng-controller="songListController">
    <div class="navigation">
        <div class="float-right">
            <div class="navigationButton pointer" ng-click="goToSongList()"><span class="glyphicon glyphicon-music"></span> Terug naar
                <br> Muzieklijst </div>            
            <div class="navigationButton pointer hidden-xs" ng-if="admin" ng-click="goToAllUsers()"><span class="glyphicon glyphicon-user"></span> Bekijk alle
                <br>gebruikers</div>
            <div ng-show="userMail" class="navigationButton"> {{userFname}} {{userLname}}
                <a ng-click="logOut()">
                    <hr> <span class="glyphicon glyphicon-log-out"></span> Afmelden </a>
            </div>
            <div ng-hide="userMail" class="navigationButton pointer" ng-click="logIn()"> Aanmelden </div>
        </div>
    </div>
    <div id="main">
        <div>
            <div id="layout" class="container-fluid list">
                <h1 style="margin-top: 10px !important;">Was het nu 39, 40 of 41?</h1>
                <h3><strong>Een knaller van een fuif </strong>gaat het worden!!
            </h3>
                <p>Waarom wij daar zo zeker van zijn? Dat komt doordat <strong>jullie mee de muziek bepalen!</strong> </p>
                <h4><strong>Liedjes toevoegen</strong></h4>
                <p>Jullie kunnen zelf liedjes toevoegen door bovenaan in het menu op "LIEDJE TOEVOEGEN" te klikken. Geef dan de titel, de artiest en eventueel een YouTube link in. Het liedje zal dan mee in de lijst komen te staan. </p>
                <h4><strong>Liedjes liken</strong></h4>
                <p> Jullie kunnen ook bepaalde nummers 'liken' zodat deze hoger op de lijst komen te staan. Dit doen jullie door naast het <span class="glyphicon glyphicon-thumbs-up"></span> icoontje op <strong>'like dit liedje'</strong> te klikken (elk liedje kan per persoon maar éénmaal geliket worden).
                    <br> Op deze manier krijgen we een mooie hitlijst met allemaal toppers die op onze fuif gedraaid zullen worden. </p>
                <p>Hopelijk hebben we binnen de kortste keren een <strong>TOP LIJST</strong>!</p>
            </div>
        </div>
        <img src="uitnodiging.jpg" width="100%">
    </div>
</div>