<div ng-controller="songListController">
    <div class="navigation">
        <div class="float-right">
            <div class="navigationButton pointer" ng-click="goToSongList()"><span class="glyphicon glyphicon-music"></span> Was het nu <br>hitlijst </div>            
            <div class="navigationButton pointer hidden-xs" ng-if="admin" ng-click="goToAllUsers()"><span class="glyphicon glyphicon-user"></span> Bekijk alle
                <br>gebruikers</div>
            <div ng-show="userMail" class="navigationButton"> {{userFname}} {{userLname}}
                <a ng-click="logOut()">
                    <hr> <span class="glyphicon glyphicon-log-out"></span> Afmelden </a>
            </div>
            <div ng-hide="userMail" class="navigationButton pointer" ng-click="logIn()"> Aanmelden </div>
        </div>
    </div>
    <div class="main" style="margin-top:70px;" >
        <div>
            <div id="layout" class="container-fluid list">
                <h1 style="margin-top: 30px !important;"><strong style="font-family:menufont !important">Was het nu 39, 40 of 41?</strong></h1>            
                <h3><strong>Tom, Jeffrey en Stefan nodigen jullie uit voor een knaller van een fuif!</strong>
            </h3>
                <p>Waarom wij  zo zeker zijn dat het een TOP FUIF wordt? Dat komt doordat <strong>jullie mee de muziek bepalen!</strong> </p>
                <h4 ng-click="goToSongList()" class="pointer"><strong>Liedjes toevoegen</strong></h4>
                <p>Jullie kunnen zelf liedjes toevoegen door in de zoekbalk een titel en/of een artiest te typen en dan op "Op YouTube zoeken" te klikken. Er zullen dan verschillende opties getoond worden.
                <br>Vervolgens klik je bij het juiste liedje op <u>"Voeg toe aan afspeellijst"</u> en kijk na of alle gegevens kloppen.</p>
                
                <h4 ng-click="goToSongList()" class="pointer"><strong>Liedjes liken</strong></h4>
                <p> Jullie kunnen ook bepaalde nummers 'liken' zodat deze hoger op de lijst komen te staan. Dit doen jullie door op <strong>'Like dit liedje'</strong> te klikken (elk liedje kan per persoon maar éénmaal geliket worden).
                    <br> Op deze manier krijgen we een mooie hitlijst met allemaal toppers die op onze fuif gedraaid zullen worden. </p>
                <p>Hopelijk hebben we binnen de kortste keren een <strong>TOP LIJST</strong>!</p>
            </div>
        </div>
        <img src="uitnodiging.jpg" width="100%">
    </div>
</div>